# Site
name: "Литературни разговори"
description: "с Антония Апостолова"
mainlink: "https://www.facebook.com/literaturnirazgovori/"
meta_description: "Литературни разговори с Антония Апостолова"
logo: "assets/images/logo-book.png"
favicon: "assets/images/logo-book.png"
baseurl: ""
google_analytics: UA-132938422-1
disqus: "literaturnirazgovori"
mailchimp-list: "https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b"
encoding: utf-8
fb_app_id: "405644126912554"
analytics_proxy_url: "https://warm-woodland-78106.herokuapp.com"
exclude: ["/utils", "/node_modules"]

ozone_banner_enabled: true
ozone_banner_text: "Купи книгата от"
ozone_banner_link_suffix: "?utm_campaign=book-link&utm_medium=affiliate&utm_source=lrazgovori"


# Authors
authors:
  Antonia:
    name: Antonia
    display_name: Антония Апостолова
    photo: /assets/images/author-antonia.png
    email: antonia@literaturnirazgovori.com
    web: https://www.facebook.com/literaturnirazgovori/
  Guest:
    name: Guest
    display_name: Гост-автор
    photo: /assets/images/author-guest.png

# Plugins
plugins:
#  - jekyll-paginate-v2
  - jekyll-paginate
  - jekyll-archives


# Archives
jekyll-archives:
  enabled:
    - tags
  layout: tag
  permalinks:
    category: "/tag/:name/"

# Pagination
# Page by page (old plugin)
# Using the old plugin (jekyll-paginate and not jekyll-paginate-v2), 
# because the new one renders an index.html file per each page, including the main page, which is /index.html
# hence, the main page gets overriden (e.g. on the homepage there is a donation banner, which does not appear on the other pages,
# but the new plugin overrides this file, with a "regular" page file, hence the banner is not there).
paginate: 18
paginate_path: /page/:num/

# Infinite scroll (new plugin)
#pagination:
#  enabled: true
#  per_page: 18
##  sort_reverse: true
#  permalink: '/page/:num/'
##  extension: json

# Other
markdown: kramdown
highlighter: rouge

collections:
  category:
    output: true

defaults:
  -
    scope:
      path: ""
      type: category
    values:
      layout: "category"