---
layout: default
title: Начало
---

{% if page.url == "/" %}

<!-- Featured ================================================== -->

<!--=========== Banner ===========-->
<a href="/category/mybooks">
<div class="homepage-banner" style="background-image: url('/assets/images/dead-sea-book-banner.png');">
    <div>
        Новата ми книга
    </div>
</div>
</a>
<!--=========== Banner ===========-->

<section class="featured-posts">
  <!--
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
  -->
    <div class="row">
        {% assign allposts = site.posts %}
        {% for post in allposts reversed %}

        {% if post.featured == true %}

        {% include featuredbox.html %}

        {% endif %}

        {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">
<!--
    <div class="section-title">

        <h2><span>Всички ({{ site.posts | size }})</span></h2>

    </div>
-->
    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
    <div class="pointerup"><i class="fa fa-caret-up"></i></div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>