<style>
    #btn_donate {
        z-index: 1000000;
    }

    /* the default state */
    #btn_donate.hidden_badge {
        display: none !important;
    }

    .btn_donate_internal {
        background-color: #a2d5dd;
        color: white;
        cursor: pointer;
        font-size: 14px;
        padding: 18px;
        border-radius: 100px;
        width: 165px;
        height: 165px;
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-weight: 600;
        transition: 
            transform .4s ease-in-out, 
            background 0.4s ease-in-out,
            box-shadow 0.4s ease-in-out;
        margin-bottom: 20px;
        -webkit-box-shadow: 0px 0px 24px 5px rgba(6,101,117, 0.38);
        -moz-box-shadow: 0px 0px 24px 5px rgba(6,101,117, 0.38);
        box-shadow: 0px 0px 24px 5px rgba(6,101,117, 0.38);
        line-height: normal;
    }
    .btn_donate_internal a, .btn_donate_internal a:hover {
        color: white;
    }

    .btn_donate_internal:hover {
        transform: rotate(-15deg);
        background-color: #4babb1;
        -webkit-box-shadow: 0px 0px 24px 16px rgba(6,101,117, 0.38);
        -moz-box-shadow: 0px 0px 24px 16px rgba(6,101,117, 0.38);
        box-shadow: 0px 0px 24px 16px rgba(6,101,117, 0.38);
    }

    @media (max-width:992px) {
        .fixed_top_mobile_bottom_right {
            position: fixed !important;
            right: 18px !important;
            bottom: 18px !important;
            top: auto !important;
        }
    }

    .fixed_top_right {
        position: fixed;
        right: 18px;
        top: 180px;
    }

    .btn_donate_red .btn_donate_internal {
        background-color: #fb4545;
        -webkit-box-shadow: 0px 0px 24px 5px rgba(102, 0, 0 ,0.38);
        -moz-box-shadow: 0px 0px 24px 5px rgba(102, 0, 0 ,0.38);
        box-shadow: 0px 0px 24px 5px rgba(102, 0, 0 ,0.38);
    }
    .btn_donate_red .btn_donate_internal:hover {
        background-: #cc0000;
        -webkit-box-shadow: 0px 0px 24px 16px rgba(102, 0, 0 ,0.38);
        -moz-box-shadow: 0px 0px 24px 16px rgba(102, 0, 0 ,0.38);
        box-shadow: 0px 0px 24px 16px rgba(102, 0, 0 ,0.38);
    }
    
    .btn-donate-content {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .btn_donate_wrapper {
        position:relative;
    }

    .btn_close_donation {
        position:absolute; 
        top: 0px; 
        right: 0px;
        display: none;
    }

    .close_btn .btn_close_donation {
        display: block !important;
        cursor: pointer;
        color: red;
    }

</style>
<div id="btn_donate" class="hidden_badge {{ include.classes }}">
    <div class="btn_donate_wrapper">
        <span class="btn_close_donation">X</span>
        <div class="btn_donate_internal">
            <a href="/donate">
                <div class="btn-donate-content">
                    <div>
                    {% if include.text %}
                        {{ include.text }}
                    {% else %}
                        Ако харесате статията,
                        подкрепете сайта -
                        той зависи от вас.
                    {% endif %}
                    </div>
                    <div style="position: relative; top: 10px;"><i class="fas fa-heart"></i></div>
                </div>
            </a>
        </div>
    </div>
</div>