<div>
    <p>Скъпи читатели,</p>

    <p>Преди близо година и половина създадох този сайт и фейсбук страницата към него с идеята да популяризирам съвременната литература, 
      която излиза на българския пазар, и да ви ориентирам в най-новите заглавия на добрите издателства, като пиша рецензии за книгите, 
      правя интервюта с писателите и пускам новини за предстоящите издания. Провеждам и тематични разговори с автори, 
      посветени на писането, а в добавка правя преводи на съвременни израелски поети, тъй като те са малко познати у нас.</p>
    
    <p>Малко преди това бях напуснала дългогодишната си корпоративна работа в медиите, а всичко, което сега правя с много любов и внимание в "Литературни разговори" и което ми отнема значително 
      време и ресурси, е <b>доброволно и независимо</b> и за него не получавам никакви средства от издателства или други компании.</p>
    
    <p>Ето защо - ако харесвате и редовно следите съдържанието на сайта и бихте искали той да продължи да съществува - ще се радвам, 
      ако решите <b>да ме подкрепите</b>, дори и символично. Всяко дарение ще бъде високо оценено и добре дошло. </p>
    
    <p>Можете да го направите чрез <img style="height: 17px;" src="/assets/images/paypal-logo.png" /> или по банков път, като еднократен или ежемесечен акт.
    </p>
    <p><em>За превод по PayPal натиснете този бутон:</em></p>
    <p>
      <a href="https://www.paypal.com/donate/?hosted_button_id=YAKKJ8WSNXHBN" target="_blank">
        <img src="/assets/images/heart-color.png" style="height:60px;" alt="Donate with PayPal" />
      </a>
      <!--
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="YUF2ZYFLTS6WS" />
      <input type="image" style="height:60px;" src="/assets/images/heart-color.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      </form>
    -->
    </p>
    <p><em>За превод по банков път данните са:</em></p>
    <p>
    IBAN: BG74UNCR76301077264224<br/>
    Swift/BIC: UNCRBGSF<br/>
    Титуляр: Антония Кирилова Апостолова-Ротем<br/>
    Основание: За Литературни разговори
    </p>
    <b>Благодаря ви от сърце!</b>
  </div>