#buildStatusNotificationElement
{
    color: white;
    padding: 3px 18px;
    font-size: 10pt;
    transition: all 0.4s;
    display: flex;
}
.infoleft
{
    float:left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;    
}

.toolbar_li
{
    display: block;
}
#inProgressMessageLi
{
    display: none;
}

.inprog .toolbar_li{
    display: none;
}

.inprog #inProgressMessageLi {
    display: block;
}

.toolbar_li {
    margin: auto 0px auto 20px;
    font-weight: bold;
    font-size: 11pt;
}

.toolbar_li a{
    color: #3A69C7;
}

.customActionText {
    margin-left: 5px;
}

.publishingInProgress{
    cursor: not-allowed;
}

.publishingInProgress #republishMsg {
    color: gray;
}
.publishingInProgress img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    }

.toolbar_li a:hover{
    color: #3A69C7;
}

.toolbar_li img{
    width: 16px;
    height: 16px;
}

.inforight
{
    float: right;
}
.build-created, .build-queued
{
    background-color: #FF6A00;
}
.build-started, .build-in_progress
{
    background-color: #B200FF;
}
.build-errored
{
    background-color: #FF0000;
}

.build-passed, .build-completed
{
    background-color: #4EC820;
}

.build-unknown
{
    background-color: red;
}