#buildStatusNotificationElement
{
    color: white;
    padding: 3px 18px;
    font-size: 10pt;
    transition: all 0.4s;
    display: flex;
}
.infoleft
{
    float:left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;    
}
.inforight
{
    float: right;
}
.build-created
{
    background-color: #FF6A00;
}
.build-started
{
    background-color: #B200FF;
}
.build-errored
{
    background-color: #FF0000;
}

.build-passed
{
    background-color: #4EC820;
}