---
layout: page
---
<div class="categorylist">
    <!--<h1>Filed Under <small>#{{ page.tag }}</small></h1>-->
    <!--{{site.data.categoriestext[page.tag].name}} : {{site.data.categoriestext[page.tag].text}}-->

    {% assign posts = site.categories[page.tag] | where:"hidden","false"%}
    <!--{% assign counter = 0 %}-->
    {% if posts %}
    {% for post in posts %}
    {% assign counter = forloop.length %}
    {% include postlistitem.html %}
    {% endfor %}
    {% endif %}
    {% if counter == 0 %}
    Няма публикувани статии под {{site.data.categoriestext[page.tag].text}}
    {% endif %}
</div>