---
layout: default
---
{% assign current_tag = page.title | strip %}
{% assign condition = "post.tags contains '" | append: current_tag | append: "'" %}
{% assign visibleposts = site.posts | where_exp: "post", condition | where:"hidden","false" %}


<div style="margin-bottom: 20px;">
    <a class="alltagslink" href="/tags.html" title="Всички тагове"><img src="/assets/images/bookmark-color.png"></a>
    <span class="tagpagetitle">
        {{ current_tag }} ({{ visibleposts | size }})
    </span>
</div>

<div class="article-post">
    <div class="categorylist">
        <div class="container">
            {% if visibleposts %}
                {% for post in visibleposts %}
                    {% assign counter = forloop.length %}
                    {% include postlistitem.html %}
                {% endfor %}
            {% endif %}
            {% if counter == 0 %}
                Няма публикувани статии под {{ current_tag }}
            {% endif %}
        </div>
    </div>
</div>