# Workflow for retrieving and caching GAnalytics data for all pages on the site
name: Retrieve Google Analytics data

on:
  # Runs on pushes targeting the default branch
#  push:
#    branches: ["work"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions: write-all

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Fetch all analytics data, and update relevant posts
        run: |
          sudo apt update && sudo apt upgrade
          sudo apt install -y git nano curl wget

          npm install ./utils/
          node ./utils/analytics-fetch.js
          
          numChangedFiles=$(git status -s | wc -l)
          echo "$numChangedFiles files pending push!"

          if [[ $numChangedFiles > 0 ]]
          then
            echo "Pushing $numChangedFiles changed files..."
            git remote set-url --push origin "https://alonrotem:${{ secrets.GITHUB_TOKEN }}@github.com/literaturnirazgovori/literaturnirazgovori.github.io"
            git add .
            git commit -m"Updating pageviews!"
            git push
          else
            echo "No files changed, no pending push."
          fi

      - name: Setup Pages
        uses: actions/configure-pages@v2
        
      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./
          destination: ./_site
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
